//body, container do zmiany przy implementacji 
.container{
    padding-bottom: 15px;
    padding-top: 20px;
}
.text-center {
    font-size: 35px;
}
.game-button {
   font-size: 25px; 
}
.badge {
    font-size: 30px;
    border-radius: 25%;
}
.btn {
    border-radius: 4px;
}
